{% extends 'base.html' %}

{% block content %}

    <div class="container mx-auto">
        <div class="row">
            <div class="col-8">
                <div class="text-info">질문과 답변</div>
                <div><h4><b>{{ question }}</b></h4></div>
                {% if request.user.id == question.user.id %}
{#                    <a href="{% url 'community:question-delete' question.pk %}" class="btn btn-outline-danger">질문 삭제</a>#}
                {% endif %}

                <a href="{% url 'community:question-update' question.pk %}" class="btn btn-outline-secondary">질문 수정</a>

                <a href="{% url 'community:questions' %}" class="btn btn-outline-primary">뒤로가기</a>

                <br>
                <br>
                <div>{{ question.content }}</div>
                <br>
                <img src="{{ question.image.url }}" style="height: 300px; width: 280px;" alt="">
                <br>
                <div><small>{{ question.created_at }}</small></div>
                <hr>
                <h4>댓글 목록</h4>

                <a href="{% url 'community:comment-create' question.pk %}" class="btn btn-sm btn-outline-info float-right">
                    댓글 남기기
                </a>
                <br>
                <br>

                {% include 'community/comment_list.html' %}

            </div>
        </div>
    </div>

{% endblock %}
