{% extends 'base.html' %}

{# 이 템플릿은 적용되지 않습니다.#}


{% block content %}

    <div class="container mx-auto p-5 mb-2" style="background-color: #F4F6F6;">
        <div class="row justify-content-center">
            <h3>질문과 답변</h3>
        </div>
        <div class="text-center">
            <small>오늘의집 인테리어 고수들과 전문가들에게 조언을 받으세요.</small>
        </div>
        <br>

        <form class="card card-sm">
            <div class="row align-items-center">
                <div class="col-auto">
                    <i class="fas fa-search h5 text-body"></i>
                </div>
                <!--end of col-->
                <div class="col">
                    <input class="form-control form-control-borderless" type="search" placeholder="궁금한 것을 검색해보세요(미구현)">
                </div>
                <!--end of col-->
                <div class="col-auto">
                    <button class="btn btn btn-success" type="submit">Search</button>
                </div>
                <!--end of col-->
            </div>
        </form>
    </div>
    <br>
    <div class="container mx-auto">
        <div class="row">
            <div class="col-9">
{#                <div class="text-right"><a href="{% url 'community:question-create' %}"><button class="btn btn-outline-info">질문하기</button></a></div>#}
            </div>

        </div>
    </div>
    <br>
    <br>
    {% for question in question_list %}
        <div class="container mx-auto">
            <div class="row justify-content-center">
                <div class="col-6 text-left">
                    <hr>
                    <div><b><a href="{% url 'community:question-detail' question.pk %}">{{ question.title }}</a></b></div>
                    <div>{{ question.content|truncatechars:100 }}</div>
                    <div><small>{{ question.user }} | {{ question.created_at }}</small></div>
                </div>
                <div class="col-2 d-flex align-items-center">
                    <img src="{{ question.image.url }}" style="height: 70px; width: 70px;" alt="">
                </div>
            </div>
        </div>
    {% endfor %}
    <br>
    <div class="container mx-auto">
        <div class="row justify-content-center">
            <div class="col-6 col-md-6 col-lg-4">
                {% if is_paginated %}
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&laquo;</span></li>
                        {% endif %}
                        {% for i in paginator.page_range %}
                            {% if page_obj.number == i %}
                                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                            {% else %}
                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                        {% else %}
                            <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}]
