{% extends 'base.html' %}
{% load humanize %}

{% block content %}
    <div class="container">
        <div class="row mx-auto">
            <div class="col-9">
                <br>
                <h4>장바구니</h4>
                <form action="" method="POST">
                    {% csrf_token %}
                    {% if cart_item %}

                        {% for cart in cart_item %}
                            <table class="table table-border">
                                <th>
                                    {{ cart.product.company.name }}
                                </th>
                                <tbody class="table table-bordered">
                                <tr>
                                    <td>
                                        <span><img src="{{ cart.product.image.url }}" style="width: 80px; height: 100px;"></span>
                                        <b>{{ cart.product.name }}</b>
                                        <a class="btn-outline-info btn-sm" href="{% url 'product:delete-cart' cart.product.id %}">주문삭제</a>
                                    </td>
                                    <td class="text-right">
                                        <div>수량: {{ cart.quantity }} | 가격: {{ cart.product.price | intcomma }} 원</div>
                                        <br>
                                        <div>주문 금액: {{ cart.sub_total | intcomma }} 원</div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <br>
                        {% endfor %}

                        </div>
                        <div class="col-3">
                        <br>
                        <br>
                        <br>

                        <table class="table">

                            <tr>
                                <div><b>총 상품 금액</b> <span class="float-right">{{ total_price | intcomma }} 원</span></div>
                                <div><b>배송비</b> <span class="float-right"><small>미구현</small></span></div>
                                <div><b>할인가격</b> <span class="float-right"><small>미구현</small></span></div>
                                <br>
                                <div><b>총 결제가격</b> <span class="float-right">{{ total_price | intcomma }} 원</span></div>
                            </tr>
                            <tr>
                                <td><button class="btn btn-outline-primary">선택삭제</button></td>
                                <td><button class="btn btn-primary">구매하기</button></td>
                            </tr>

                        </table>
                        </form>
                    {% else %}
                        <br>
                        <table class="table table-active">
                            <tr>
                                <td><b>{{ user }}</b> 님은 현재 구매 목록이 없습니다. 지금
                                    <a href="{% url 'product:category-list' %}">여기</a> 를 클릭해서 원하시는 상품을 구매하세요.
                                </td>
                            </tr>
                        </table>
                    {% endif %}
                    </div>
        </div>
    </div>
{% endblock %}