{% load humanize %}
<div class="card-deck mx-auto">
    {% if product_list %}
        {% for product in product_list %}
            <div class="col-4">
                <div class="card-img text-center">
                    <a class="" href="{% url "product:product-detail" product.pk %}">
                        <img src="{{ product.image.url }}" style="width: 220px; height: 220px;">
                    </a>
                    <div class="card-title">
                        <small class="text-muted">{{ product.company }}</small>
                        <p class="">{{ product.name }}</p>
                    </div>
                    <div class="card-subtitle">
                        <p class="">{{ product.price|intcomma }}원</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="container">
            <div class="text-center">
                <br>
                <br>
                <h3>상품이 아직 준비되어 있지 않습니다. :-)</h3>
            </div>
        </div>
    {% endif %}
</div>
