{% extends 'base.html' %}

{% block content %}

    <div class="container mx-auto">
        <!-- 2 columns card -->
        <div class="row">

            <div class="col-lg-2">
                <ul class="list-group-flush">
                    <form action="" method="POST">
                        <br>
                        <br>
                        {% for category in category_list %}
                            <a href="{% url 'product:category-detail' category.pk %}"><li class="list-group-item list-group-item-action"><b>{{ category.name }}</b></li></a>
                        {% endfor %}
                    </form>
                </ul>
            </div>

            <!-- 상품 페이지 -->

            <div class="col-lg-10 row-divided">
                <br>
                <br>
                <!-- 현재 페이지의 경로 -->
{#                <nav aria-label="breadcrumb">#}
{#                    <ol class="breadcrumb purple lighten-4">#}
{#                        <li class="breadcrumb-item"><a class="black-text" href="#">Home</a></li>#}
{#                        <li class="breadcrumb-item"><a class="black-text" href="#">상위 카테고리</a></li>#}
{#                        <li class="breadcrumb-item active">현재 카테고리</li>#}
{#                    </ol>#}
{#                </nav>#}
                <!-- /현재 페이지의 경로 -->

                <!-- 상품 페이지 -->
                {% include 'product/_product-list.html' %}
                <!-- /상품 페이지 -->

            </div>

        </div>

        <!--/card-block-->

        <!-- /2 columns card -->
    </div>

{% endblock %}
