{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->

            <!-- Icon -->
            <div class="fadeIn first">
                <br>
                <p><img src="{% static 'img/logo.jpeg' %}" id="icon" alt="User Icon" style="height: 60px; width: 60px;"/>
                <h4>오늘의 집</h4></p>
            </div>

            <!-- Login Form -->
            <form method="POST">
                {% csrf_token %}
                {% for field in form %}
                    <p>
                        {#                                                {{ field.label_tag }}<br>#}
                        {{ field }}
                        {% if field.help_text %}
                            <small style="color: grey">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </p>
                {% endfor %}
                <input type="submit" class="fadeIn fourth" value="로그인하기">

                <a href="https://www.facebook.com/v3.3/dialog/oauth?client_id=2059575497505229&redirect_uri=http://localhost:8000/members/facebook-login/"
                    class="btn btn-outline-info">페이스북 로그인
                </a>
            <div class="fb-login-button" data-width="" data-size="medium" data-button-type="continue_with" data-auto-logout-link="false" data-use-continue-as="false"></div>

            </form>

            <!-- Remind Passowrd -->
            <div id="formFooter">
                <a class="underlineHover" href="#">비밀번호를 잊으셨나요?</a>
            </div>

        </div>
    </div>
{% endblock %}
