{% extends 'base.html' %}

{% block content %}
    <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
        <div class="container">
            <div class="row">
                <div class="col-9 col-sm-9 col-md-6 col-lg-5 mx-auto">
                <h4>&#40; {{ request.user.name }} &#41; 님의 회원정보 <i class="fas fa-edit"></i></h4>
                    <br>
                    {% for field in form %}
                        <p>
                            {{ field.label_tag }}<br>
                            {{ field }}
                            {% if field.help_text %}
                                <small style="color: grey">{{ field.help_text }}</small>
                            {% endif %}
                            {% for error in field.errors %}
                                <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </p>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary form-control">수정하기</button>

                </div>
            </div>
        </div>
    </form>

{% endblock %}
